* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

@media (min-width: 0px) {
  .btn-skill{
    margin-top: 25px;
    font-size:14px;
  }
} 

@media (min-width: 1200px) {
  .btn-skill{
    margin-top: 25px;
    margin-left: 70px;
    font-size: 16px;
    padding-left:20px;
    padding-right:20px;
  }
}

.bg-success {
  background-color: #3CB371 !important;
}

/* update role styling */
.list-group {
  height: 18vh;
  overflow: auto;
}

.close-btn {
  background-color: transparent;
  border: none;
}

.badge {
  font-size: 1rem !important; 
}

/* create journey styling */
.skill-description{
  color:#545b62;
}

.course-title{
  margin-top: auto;
  margin-bottom: auto;
  font-size: large;
  color:#545b62;
  display:inline;
}

.select-course-checkbox {
  min-height:2em;
  min-width:2em; 
  margin-bottom: 0; 
}

.selected-skill-checkbox {
  min-height:1em;
  min-width:1em; 
  margin-bottom: 0; 
  margin-right: 3px;
}

.lj_header {
  font-size:20px;
  font-weight: bold;
  margin-bottom: 0; 

}

.lj_content {
  font-size:18px;
}