* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

@media (min-width: 0px) {
  .btn-skill{
    margin-top: 25px;
    font-size:14px;
  }
} 

@media (min-width: 1200px) {
  .btn-skill{
    margin-top: 25px;
    margin-left: 70px;
    font-size: 16px;
    padding-left:20px;
    padding-right:20px;
  }
}

.bg-success {
  background-color: #3CB371 !important;
}

/* update role styling */
.list-group {
  height: 18vh;
  overflow: auto;
}

.close-btn {
  background-color: transparent;
  border: none;
}